$main-color:#008842;
$padding:0 10px 0 30px;
$height:30px;
$font-family: Arial,Verdana,"\5b8b\4f53";
$F-position:relative;
$C-position:absolute;
$font-color:#444;



body{
    min-width: 1200px;
}

#Yiguo{
    background: #f7f8f8;
    z-index:-1;
    
}
#Y_header{
    height:$height;
    background: #f7f9f8;
    // width: 100%;
    font-family: $font-family;
    .site-left{
        line-height:$height;
        .fs{
            margin-right:10px;
            color:$font-color;
        }
        .er{
            color:$main-color;
            position:$F-position;
            s{
                background: url(../img/header-img.png) no-repeat 0 0;
                width: 8px;
                height: 4px;
                position:$C-position;
                right:-15px;
                top:13px;
            }
        }
    }
    .site-right{
        li{
            float:left;
            a{
                color:$font-color;
                padding:$padding;
                line-height:$height;
                position:$F-position;
                s{
                    background: url(../img/header-img.png) no-repeat -39px 0;
                    width: 20px;
                    height: 18px;
                    position:$C-position;
                    right:80px;
                    top:-2px;

                    
                }
                .myback{
                    background: url(../img/header-img.png) no-repeat 8px 0;
                    left:75px;
                    top:5px;
                }
                .phone{
                    background: url(../img/header-img.png) no-repeat -62px 0;
                }
                .phoneback{
                    background: url(../img/header-img.png) no-repeat 8px 0;
                    @extend .myback;
                }
                .save{
                    background: url(../img/header-img.png) no-repeat -147px 0;
                    left:7px;
                    top:-2px;
                }
                .gift{
                    background: url(../img/header-img.png) no-repeat -86px 0;
                    left:8px;
                    top:-2px;
                }
            }
            .log{
                padding-left:nth($padding,2);
            }
            .myr{
                padding-right:nth($padding,4);
            }
        }
    }
    .logo{
        height: 78px;
        background: #e0e0e0;
        h1{
            a{
                background: url(../img/logo.png) no-repeat;
                width: 290px;
                display:block;
                height: 50px;
                margin:14px 50px 0 0;
            }
            
        }
        .form{
            width: 528px;
            height: 28px;  
            margin-top:15px;
            input{
                width: 417px;
                height: 26px;
                padding: 0 10px;
                background:none;
                border:1px solid $main-color;
                color:rgb(153, 153, 153);
            }
            button{
                background:$main-color;
                height: 28px;
                font-size:12px;
                width: 81px;
                color:#fff;
                vertical-align: middle;
            } 
            p{
                color:#727272;
                margin-top:8px;
                i{
                    color:$main-color;
                    margin:0 15px;
                }
            }     
        }
        .carbtn{
            width: 170px;
            height: 42px;
            border:1px solid $main-color;
            background: #fff;
            margin-top:18px;
            a{
                margin-top:10px;
                width: 80px;
                height: 28px;
                display:block;
                padding: 0 45px;
                .two{
                    font-size:24px;
                    padding-left:8px;
                    color:$main-color;
                }
                span{
                    background: url(../img/header-img.png) no-repeat -105px 0;
                    width: 35px;
                    height: 18px;
                    display:inline-block;
                    position:$F-position;
                    b{
                        position:$C-position;
                        left:15px;
                        color:$main-color;
                    }
                }
                
            }
            
            
        }
    }
    .logo1{
        height: 46px;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1999;
        opacity: 0.93;
        h1{
            .logoa{
                
                background: url(../img/logo1.png) no-repeat;
                background-size: auto 100%;
                width: 145px;
                display:block;
                height: 36px;
                margin: 7px 80px 0 0;
            }
            
        }
        .form{
            width: 528px;
            height: 28px;  
            margin-top:7px;
            input{
                width: 417px;
                height: 26px;
                padding: 0 10px;
                background:none;
                border:1px solid $main-color;
                color:rgb(153, 153, 153);
            }
            button{
                background:$main-color;
                height: 28px;
                font-size:12px;
                width: 81px;
                color:#fff;
                vertical-align: middle;
            } 
            p{
                color:#727272;
                margin-top:8px;
                i{
                    color:$main-color;
                    margin:0 15px;
                }
            }     
        }
        .carbtn{
            width: 142px;
            height: 34px;
            border:1px solid $main-color;
            background: #fff;
            margin-top: 5px;
            a{
                margin-top:5px;
                width: 80px;
                height: 28px;
                display:block;
                padding: 0 34px;
                .two{
                    font-size:24px;
                    // padding-left:3px;
                    color:$main-color;
                }
                span{
                    background: url(../img/header-img.png) no-repeat -105px 0;
                    width: 35px;
                    height: 18px;
                    display:inline-block;
                    position:$F-position;
                    b{
                        position:$C-position;
                        left:15px;
                        color:$main-color;
                    }
                }
                
            }
            
            
        }
    }
    
}
#Y_nav{
    margin-top:78px;
    
    .nav-all{
        .nav-top{
            position:$C-position;
            z-index: 999;
            width: 180px;
            height: 38px;
            background: $main-color;
            color:#fff;
            font:bold 15px/16px "Microsoft YaHei";
            position:$F-position;
            line-height:38px;
            text-align: center;
            i{
                background: url(../img/header-img.png) no-repeat -25px 0;
                width: 8px;
                height: 8px;
                right:25px;
                top:15px;
                position:$C-position;
            }
        }
        &:hover ul{
            display:block;
        }
        ul{
            display:none;
            position:$C-position;
            z-index: 999;
            width: 180px;
            height:505px;
            background: #fff;
            opacity: 0.8;
            li{
                position:$F-position;
                a{
                    overflow: hidden;
                    display: block;
                    width: 165px;
                    height: 24px;
                    padding: 9px 0 9px 55px;
                    font: normal 14px/24px "Microsoft YaHei";
                    position:$F-position;
                    color: $font-color;
                    i{
                        background: url(../img/nav-icon.png) no-repeat -2px 0;
                        width: 22px;
                        height: 23px;
                        left:20px;
                        top:9px;
                        position:$C-position;
                    }
                    .nav11{
                        background: url(../img/nav-icon.png) no-repeat -26px 0;
                    }
                    .nav2{
                        background: url(../img/nav-icon.png) no-repeat -50px 0;
                    }
                    .nav3{
                        background: url(../img/nav-icon.png) no-repeat -74px 0;
                    }
                    .nav4{
                        background: url(../img/nav-icon.png) no-repeat -98px 0;
                    }
                    .nav5{
                        background: url(../img/nav-icon.png) no-repeat -122px 0;
                    }

                    .nav6{
                        background: url(../img/nav-icon.png) no-repeat -150px 0;
                    }
                    .nav7{
                        background: url(../img/nav-icon.png) no-repeat -170px 0;
                    }
                    .nav8{
                        background: url(../img/nav-icon.png) no-repeat -192px 0;
                    }
                    .nav9{
                        background: url(../img/nav-icon.png) no-repeat -217px 0;
                    }
                    .nav10{
                        background: url(../img/nav-icon.png) no-repeat -239px 0;
                    }
                }
                .all{
                    z-index: 999;
                    display:none;
                    position:$C-position;
                    top: -38px;
                    left: 180px;
                    width: 215px;
                    height: 508px;
                    padding: 17px 20px;
                    border: 1px solid #bbb;
                    background: rgba(255, 255, 255, 0.9);
                    h3{
                        .first{
                            color:$main-color;
                            text-decoration: underline;
                            font:normal 18px "Microsoft YaHei";
                            padding: 0;
                            width:90px;
                        }
                        
                    }
                    a{
                        padding: 0;
                        font-size:12px;
                        padding: 10px 0px;
                        padding-left:0;
                        display:inline-block;
                        width:60px;
                    }
                }
                .one{
                   
                }
                .two{
                    top: -80px;
                }
                .three{
                    top: -122px;
                }
                .four{
                    top: -164px;
                }
                .five{
                    top: -206px;
                }
                .six{
                    top: -248px;
                }
                .seven{
                    top: -290px;
                }
                .eight{
                    top: -332px;
                }
                .night{
                    top: -375px;
                }
                .ten{
                    top: -416px;
                }
                .eleven{
                    top: -459px;
                }
                .twelve{
                    top: -501px;
                }
                &:hover .all{
                    display:block;
                }
            }
        }
    }
}
#Y_footer{
    height: 535px;
    margin-top:50px;
    .footer_service{
        background: #e0e0e0;
        height: 42px;
        padding:30px 0;
        li{
            background: url(../img/footer_service_icon.png) no-repeat 0 0;
            float:left;
            width: 190px;
            height: 42px;
            margin-left: 55px;
            padding-left: 55px;
            b{
                display: block;
                padding-left: 15px;
                color: #007f4d;
                font: normal 18px/25px "Microsoft YaHei";
                border-left: 1px solid #a6a6a6;
            }
            span{
                display: block;
                padding-left: 15px;
                border-left: 1px solid #a6a6a6;
            }
        }
        .s2{
            background: url(../img/footer_service_icon.png) no-repeat 0 -43px;
        }
        .s3{
            background: url(../img/footer_service_icon.png) no-repeat 0 -83px;
        }
        .s4{
            background: url(../img/footer_service_icon.png) no-repeat 0 -126px;
        }
    }
    .didi{
        height: 341px;
        margin-top: 50px;
        dl{
            float: left;
            display: inline;
            margin-left: 50px;
            width: 190px;
            color: #ccc;
            dt{
                text-indent: 40px;
                height: 23px;
                line-height: 23px;
                font-size: 14px;
                color: #555;
                background: url(../img/footer_icon.png) no-repeat 0 0;
            }
            .col2{
                background: url(../img/footer_icon.png) no-repeat 0 -23px;
            }
            .col3{
                background: url(../img/footer_icon.png) no-repeat 0 -45px;
            }
            .col4{
                background: url(../img/footer_icon.png) no-repeat 0 -69px;
            }
            .col5{
                background: url(../img/footer_icon.png) no-repeat 0 -92px;
            }
            
            dd{
                border-left: 1px dashed #A8A8A8;
                padding-left: 20px;
                height: 110px;
                min-height: 110px;
                margin: 15px 0 0 13px;
                p{
                    a{
                      color: #555;  
                    }
                    
                }
            }
        }
    }
    .service{
        clear: both;
        text-align: center;
        padding: 60px 0 20px;
        color: #008842;
        font-size: 14px;
    }
    .copyright{
        clear: both;
        color: #717171;
        text-align: center;
        line-height: 22px;
    }
}
#Y_aside{
    display: none;
    width: 56px;
    height: 104px;
    // background: #00c;
    bottom: 35px;
    right: 50%;
    margin-right: -670px;
    position: fixed;
    a{
        display:block;
        width: 52px;
        height: 52px;
        background: url(../img/sidebar.png) no-repeat 0 -43px;
    }
    .phone:hover{
        background-position: -56px -46px;
    }
    .totop{
        display:block;
        width: 52px;
        height: 52px;
        background: url(../img/sidebar.png) no-repeat 0 7px;
    }
    .totop:hover{
        background-position: -56px 7px;
    }
}