$main-color:#008842;
$padding:0 10px 0 30px;
$height:30px;
$font-family: Arial,Verdana,"\5b8b\4f53";
$F-position:relative;
$C-position:absolute;
$font-color:#444;






#Y_header{
    height:$height;
    background: #f7f9f8;
    width: 100%;
    font-family: $font-family;
    .site-left{
        line-height:$height;
        .fs{
            margin-right:10px;
            color:$font-color;
        }
        .er{
            color:$main-color;
            position:$F-position;
            s{
                background: url(../img/header-img.png) no-repeat 0 0;
                width: 8px;
                height: 4px;
                position:$C-position;
                right:-15px;
                top:13px;
            }
        }
    }
    .site-right{
        li{
            float:left;
            a{
                color:$font-color;
                padding:$padding;
                line-height:$height;
                position:$F-position;
                s{
                    background: url(../img/header-img.png) no-repeat -39px 0;
                    width: 20px;
                    height: 18px;
                    position:$C-position;
                    right:80px;
                    top:-2px;

                    
                }
                .myback{
                    background: url(../img/header-img.png) no-repeat 8px 0;
                    left:75px;
                    top:5px;
                }
                .phone{
                    background: url(../img/header-img.png) no-repeat -62px 0;
                }
                .phoneback{
                    background: url(../img/header-img.png) no-repeat 8px 0;
                    @extend .myback;
                }
                .save{
                    background: url(../img/header-img.png) no-repeat -147px 0;
                    left:7px;
                    top:-2px;
                }
                .gift{
                    background: url(../img/header-img.png) no-repeat -86px 0;
                    left:8px;
                    top:-2px;
                }
            }
            .log{
                padding-left:nth($padding,2);
            }
            .myr{
                padding-right:nth($padding,4);
            }
        }
    }
    .logo{
        height: 78px;
        background: #e0e0e0;
        h1{
            background: url(../img/logo.png) no-repeat;
            width: 290px;
            height: 50px;
            margin:14px 50px 0 0;
        }
        .form{
            width: 528px;
            height: 28px;  
            margin-top:15px;
            input{
                width: 417px;
                height: 26px;
                padding: 0 10px;
                background:none;
                border:1px solid $main-color;
                color:rgb(153, 153, 153);
            }
            button{
                background:$main-color;
                height: 28px;
                font-size:12px;
                width: 81px;
                color:#fff;
                vertical-align: middle;
            } 
            p{
                color:#727272;
                margin-top:8px;
                i{
                    color:$main-color;
                    margin:0 15px;
                }
            }     
        }
        .carbtn{
            width: 170px;
            height: 42px;
            border:1px solid $main-color;
            background: #fff;
            margin-top:18px;
            a{
                margin-top:10px;
                width: 80px;
                height: 28px;
                display:block;
                padding: 0 45px;
                .two{
                    font-size:24px;
                    padding-left:8px;
                    color:$main-color;
                }
                span{
                    background: url(../img/header-img.png) no-repeat -105px 0;
                    width: 35px;
                    height: 18px;
                    display:inline-block;
                    position:$F-position;
                    b{
                        position:$C-position;
                        left:15px;
                        color:$main-color;
                    }
                }
                
            }
            
            
        }
    }
}
#Y_nav{
    margin-top:78px;
    .nav-all{
        .nav-top{
            width: 180px;
            height: 38px;
            background: $main-color;
            color:#fff;
            font:bold 15px/16px "Microsoft YaHei";
            position:$F-position;
            line-height:38px;
            text-align: center;
            i{
                background: url(../img/header-img.png) no-repeat -25px 0;
                width: 8px;
                height: 8px;
                right:25px;
                top:15px;
                position:$C-position;
            }
        }
        ul{
            width: 180px;
            height:505px;
            background: #fff;
            opacity: 0.8;
            li{
                position:$F-position;
                a{
                    overflow: hidden;
                    display: block;
                    width: 165px;
                    height: 24px;
                    padding: 9px 0 9px 55px;
                    font: normal 14px/24px "Microsoft YaHei";
                    position:$F-position;
                    color: $font-color;
                    i{
                        background: url(../img/nav-icon.png) no-repeat -2px 0;
                        width: 22px;
                        height: 23px;
                        left:20px;
                        top:9px;
                        position:$C-position;
                    }
                    .nav11{
                        background: url(../img/nav-icon.png) no-repeat -26px 0;
                    }
                    .nav2{
                        background: url(../img/nav-icon.png) no-repeat -50px 0;
                    }
                    .nav3{
                        background: url(../img/nav-icon.png) no-repeat -74px 0;
                    }
                    .nav4{
                        background: url(../img/nav-icon.png) no-repeat -98px 0;
                    }
                    .nav5{
                        background: url(../img/nav-icon.png) no-repeat -122px 0;
                    }

                    .nav6{
                        background: url(../img/nav-icon.png) no-repeat -150px 0;
                    }
                    .nav7{
                        background: url(../img/nav-icon.png) no-repeat -170px 0;
                    }
                    .nav8{
                        background: url(../img/nav-icon.png) no-repeat -192px 0;
                    }
                    .nav9{
                        background: url(../img/nav-icon.png) no-repeat -217px 0;
                    }
                    .nav10{
                        background: url(../img/nav-icon.png) no-repeat -239px 0;
                    }
                }
                .all{
                    z-index: 999;
                    display:none;
                    position:$C-position;
                    top: -38px;
                    left: 180px;
                    width: 215px;
                    height: 515px;
                    padding: 17px 20px;
                    border: 1px solid #bbb;
                    background: rgba(255, 255, 255, 0.9);
                    h3{
                        .first{
                            color:$main-color;
                            text-decoration: underline;
                            font:normal 18px "Microsoft YaHei";
                            padding: 0;
                            width:90px;
                        }
                        
                    }
                    a{
                        padding: 0;
                        font-size:12px;
                        padding: 10px;
                        padding-left:0;
                        display:inline-block;
                        width:55px;
                    }
                }
                .one{
                   
                }
                .two{
                    top: -80px;
                }
                .three{
                    top: -122px;
                }
                .four{
                    top: -164px;
                }
                .five{
                    top: -206px;
                }
                .six{
                    top: -248px;
                }
                .seven{
                    top: -290px;
                }
                .eight{
                    top: -332px;
                }
                .night{
                    top: -375px;
                }
                .ten{
                    top: -416px;
                }
                .eleven{
                    top: -459px;
                }
                .twelve{
                    top: -501px;
                }
            }
        }
    }
}