@import 'common';

#Y_nav{
    position: $F-position;
    .nav-top{
        // float:left;
    }
    .nav-all{
        ul{
            li{
                .one{
                    top:0;
                }
                .two{
                    top: -42px;
                }
                .three{
                    top: -84px;
                }
                .four{
                    top: -126px;
                }
                .five{
                    top: -168px;
                }
                .six{
                    top: -210px;
                }
                .seven{
                    top: -252px;
                }
                .eight{
                    top: -294px;
                }
                .night{
                    top: -336px;
                }
                .ten{
                    top: -378px;
                }
                .eleven{
                    top: -420px;
                }
                .twelve{
                    top: -462px;
                }
            }
        }
        .nav-item{
            position:$C-position;
            left: 340px;
            top:0;
            width: 1020px;
            height: 37px;
            display:block;
            float:left;
            border-bottom:1px solid $main-color;
            .nav-ul{
                display:block;
                width: 1020px;
                height: 38px;
                li{
                    float: left;
                    a{
                        color:#000;
                    }
                }
            }
        }
    }
    
}
#Y_main{
    
    .top{
        margin-left: -10px;
        span{
            display: inline-block;
            margin: 10px 10px;
            i{
                display: inline-block;
                margin: 0 5px 0 30px;
            }
        }
    }
    .product{
        .pro{
            .pic{
                .big{
                    img{
                        width: 500px;
                        height: 500px;
                    }
                }
                .small{
                    width: 500px;
                    height: 97px;
                    padding-top: 10px;
                    ul{
                        li{
                            float: left;
                            width: 85px;
                            height: 85px;
                            background: #0c0;
                            margin-right: 10px;
                            border: 1px solid #000;
                            img{
                                width: 85px;
                                height: 85px;
                            }
                        }
                    }
                }
            }
            .right{
                width: 680px;
                height: 600px;
                margin-left: 20px;
                .xiangq-top{
                    .name{
                        .zhu-name{
                            font: normal 26px "Microsoft YaHei";
                        }
                        .shuoming{
                            height: 40px;
                            margin-top: 5px;
                            color: #777;
                            font: normal 16px/20px "Microsoft YaHei";
                        }
                    }
                    .center{
                        width: 680px;
                        height: 70px;
                        background: #fff;
                        padding: 10px 20px;
                        position: $F-position;
                        .price{
                            .tt{
                                display: inline-block;
                                padding: 0 10PX;
                            }
                            .num{
                                color: #f00;
                                em{
                                    font-size:14px;
                                    display: inline-block;
                                    padding-right: 5px;
                                }
                                strong{
                                    font: normal 22px "Arial,Verdana";
                                }
                            }
                        }
                        .pro-m3{
                            width: 500px;
                            border-top: 1px solid #e2e2e2;
                            margin-top: 10px;
                            padding-top: 10px;
                            padding-left: 10px;
                            .green{
                                display: inline-block;
                                border-radius: 4px;
                                background: #11b57c;
                                color: #fff;
                                padding: 5px;
                                margin-left: 10px;
                            }
                        }
                        .pro-tel{
                            width: 240px;
                            height: 80px;
                            position: $C-position;
                            left: 480px;
                            top: 5px;
                            p{
                                width: 200px;
                                height: 16px;
                                position:$C-position;
                                left: -150px;
                                top: 55px;
                                i{
                                    width: 16px;
                                    height: 16px;
                                    background: url(../img/icon-tel.png) no-repeat;
                                    position:$C-position;
                                    left: -25px;
                                    top: 0px;
                                }
                                strong{
                                    width: 50px;
                                    height: 16px;
                                    display: inline-block;
                                    margin-left: 10px;
                                    color: $main-color;
                                }

                            }
                            .code{
                                float: left;
                                width: 73px;
                                height: 73px;
                                padding: 3px 4px 4px 10px;
                                background: url(../img/bg-code.png) no-repeat;
                                img{
                                    width: 73px;
                                    height: 73px;
                                }
                            }
                        }
                        .pro-review{
                            width: 100px;
                            height: 60px;
                            position:$C-position;
                            left: 600px;
                            top: 10px;
                            p{
                                line-height: 22px;
                                color: #999;
                                text-align: center;
                                b{
                                    color: red;
                                    font-size:22px
                                }
                                a{
                                    color: #999;
                                }
                            }
                        }
                    }
                    .bottom{
                        padding-top: 30px;
                        width: 500px;
                        height: 300px;
                        .choose{
                            width: 100px;
                            height: 60px;  
                            position: $F-position;
                            
                            .dd{
                                position: $C-position;
                                left: 40px;
                                top:-15px;
                                span{
                                    width: 60px;
                                    display: block;
                                    height: 20px;
                                    text-align: center;
                                    line-height: 20px;
                                    border: 1px solid $main-color; 
                                    font-family: Arial,Verdana,"\5b8b\4f53";
                                    color: #222; 
                                }
                            }
                        }
                        .pro-service{
                            padding-left: 10px;
                            color: #999;
                            margin-bottom: 20px;
                            
                            b{
                                color:$main-color;
                                font-family: Arial,Verdana,"\5b8b\4f53";
                            }
                        }
                        .pro-amount{
                            .dt{
                                line-height: 43px;
                            }
                            .dd{
                                float: left;
                                width: 75px;
                                .spinner{
                                    width: 76px;
                                    position: relative;
                                    overflow: hidden;
                                    float: left;
                                    .decrease{
                                        top: 21px;
                                        right: 18px;
                                        border-top: none;
                                    }
                                    button{
                                        display: block;
                                        width: 18px;
                                        height: 20px;
                                        line-height: 20px;
                                        text-align: center;
                                        float: right;
                                        position: relative;
                                        border: 1px solid #e2e2e2;
                                        background-color: white;
                                        cursor: pointer;
                                    }
                                    input{
                                        width: 39px;
                                        height: 39px;
                                        line-height: 41px;
                                        font-size: 16px;
                                        text-align: center;
                                        border: none;
                                        -webkit-appearance: none;
                                        border: 1px solid #e2e2e2;
                                        border-right: none;
                                    }
                                }
                                
                            }
                            .addcart{
                                width: 187px;
                                height: 43px;
                                background: $main-color;
                                border-radius: 5px;
                                margin-left: 10px;
                                line-height: 43px;
                                
                                a{
                                    display: block;
                                    width: 187px;
                                    height: 28px;
                                    text-align: center;
                                    padding-top: 10px;
                                    color:#fff;
                                    font: normal 18px/25px "Microsoft YaHei";
                                    // padding:25px;
                                    i{
                                        width: 28px;
                                        height: 25px;
                                        margin-right: 10px;
                                        vertical-align: bottom;
                                        background: url(../img/product.png) no-repeat -47px 0;
                                    }
                                }
                                &:hover{
                                    background: rgb(95, 180, 71);
                                }
                            }
                        }
                    }
                    .botRight{
                        margin-top: 30px;
                        padding-left: 50px;
                        padding-top: 50px;
                        width: 125px;
                        height: 200px;
                        // background: #000;
                        border-left:1px solid #ccc;
                        color:rgb(134, 133, 133);
                        div{
                            margin-bottom:10px;
                        }
                    }
                }
            }
        }
    }
}