$golden:#D2B994;
$color: #505050;
$hot_key:#E54948;


#Y-banner{
    //轮播图中部
    // margin-left:361px;
	.banner_mid{
		.container{
			height:400px;
			//中中
			.ban_mid{
				width: 750px;
				height: 400px;
				overflow:hidden;
				position:relative;
				left:180px;
				top:0;
				ul{
					width:7000px;
					position:absolute;
					left:0;
					top:0;
					li{
						float:left;
					}
				}
				.scircle{
					position:absolute;
					left:50%;
					bottom:6px;
					transform: translate(-50%,0);
					// width: 80px;
					// height: 20px;
					// background-color:red;
					font-size:0;
					div{
						display:inline-block;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						margin-right:10px;
						background-color:rgba(152,162,166,0.6);
					}
					.active_ban{
						width: 15px;
						height: 15px;
						background-color:#333333;
					}
				}
			}
			//中右
			.ban_right{
				width: 259px;
				height: 399px;
                background-color:#fff;
                border-right:1px solid $golden;
                border-bottom:1px solid $golden;
				.cons{
					height:28px;
					padding-left: 53px;
					padding-right: 53px;
					padding-top: 6px;
					span{
						font-size: 14px;
						line-height:21px;
						
					}
					.underline{
						margin-right:25px;
                        color:$golden;
                        font-weight:bold;
                        height:21px;
                        border-bottom:1px solid $golden;
                        display:inline-block;

					}
				}

				.cons_text{
					height: 130px;
					padding-left:22px;
					padding-top:5px;
					margin-bottom:11px;
					a{
						display:inline-block;
						width: 72px;
						height: 24px;
						line-height:24px;
						// float:left;
						text-align:left;
						font-size:14px;
						color:$color;
						// position:relative;
						i{
							display:inline-block;
							width: 6px;
							height: 11px;
							margin-left:6px;
							background:url("../../img/icon-banner.png") -14px -451px no-repeat;
						}
						
					}
					a:hover{
						text-decoration: underline;
					}
				}
				.cons_free{
					text-align:center;
                    margin-bottom:7px;
                    margin-left:10px;

				}
				.good_service{
					height: 116px;
					padding-left: 15px;
					padding-top: 25px;
					.sers{
						li{
							float:left;
							a{
								display:block;
								// margin-right:10px;
								text-align: center;
								width:60px;
								height:60px;
								color: $golden;
								i{
									display:inline-block;
									margin-bottom:5px;
									width: 38px;
									height: 38px;
									border-radius:50%;
									// border: 1px solid black;
								}
								span{
									// line-height:31px;
									display:block;
									font-size: 11px;
								}
							}

						}
						li:nth-child(1){
							a{
								i{
									background:url("../../img/icon-banner.png") -41px -44px no-repeat;
								}
							}
						}
						li:nth-child(2){
							a{
								i{
									background:url("../../img/icon-banner.png") -100px -44px no-repeat;
								}
							}
						}
						li:nth-child(3){
							a{
								i{
									background:url("../../img/icon-banner.png") -156px -44px no-repeat;
								}
							}
						}
						li:last-child{
							a{
								margin-right:0 ;
								i{
									background:url("../../img/icon-banner.png") -214px -44px no-repeat;
								}
							}
						}
					}
				}
			}
		}
	}

}
.Y-limitTime {
	.container{
		background-color:#fff;
		margin-top:10px ;
		.clock_wrap{
			width: 180px;
			height: 150px;
			float:left;
			background:url("../../img/clock01.png") no-repeat;

		}
		.limit_pill {
				li{
					float:left;
				}
			}
		.lim_advert {
			float: left;
			margin-top: 10px;
			// margin-bottom:33px;
		}
	}
}

//########主要区域#####
.Y-main{
	.container{
		background-color: #fff;
		//楼层
		.y_floor{
			margin-top:30px;
			border:1px solid #f3f3f3;
			border-top: 2px solid #92C4FF;
			//左边
			.y_floor_left{
				width: 180px;
				height: 485px;
				background-color:#fff;
				//楼层名
				.floor_name {
					width: 180px;
					height: 85px;
					background-color: #92C4FF;
					padding-left:20px;
					line-height:85px;
					font-size:20px;
                    color:#fff;
                    font-weight:bold;
				}
				.floor_2{
					background-color:#F8F8F8;
					color:#FFAABB;
				}
				ul{
					// border-left: 1px solid #f3f3f3;
					li{
						float:left;
						width: 89px;
						height: 49px;
						font-size:14px;
						line-height:50px;
						text-align:center;
						border-bottom:1px solid #f3f3f3;
						border-right: 1px solid #f3f3f3;
						a{
							color:#5E5E5E;
						}
					}
					a:hover{
						text-decoration:underline;
						color:red;
					}
					li:nth-child(2n){
						border-right: none;
					}
				}
				ul:last-child{
					li{
						border-right: 1px solid #f3f3f3;
						a{
							display:block;
							img{
								width: 89px;
								height: 49px;
							}
						}
					}
				}
			}
			//右上
			.y_floor_rt{
				width: 1008px;
				height: 284px;
				.f_banner{
					width: 606px;
					height: 284px;
					overflow: hidden;
					position: relative;
					>div{
						width: 100px;
						height: 20px;
						background: #000;
						position:absolute;
						.active{
							height: 20px;
							width: 20px;
							background: #fff;
							border-radius:50%;
						}
					}
					ul{
						width:1815px;
						li{
							float:left;
						}
					}
				}
				.f_special{
					width: 402px;
					height: 284px;
					a{
						display:block;
						width: 201px;
						float:left;
						opacity:0.8;
					}
					a:hover{
						opacity:1;
					}
				}
			}
			//右下
			.y_floor_rb{
				width: 1008px;
				height: 201px;
				ul{
					
					
					li{
						float:left;
						a{
							display:block;
							padding:20px 20px 10px 20px;
							width: 160px;
							height:172px;
							border-right:1px solid #f3f3f3;
							color:#333333;
							// width: 201px;
							// height:201px;
							.imgbox{
								padding:10px;
								text-align:center;
								img{
									width: 100px;
									height: 100px;
								}
							}
							 p{
								position:relative;
							 	text-align:center;
							 	font-size:14px;
							 	line-height:25px;
							 	text-overflow: ellipsis;
    							white-space: nowrap;
								overflow:hidden;
								i{
									position:absolute;
									font-size:8px;
									font-weight:bold;
									top:0;
									left:45px;

								}
							}
							.medPrice{
								color:red;
							}
						}
					}
					li:hover {
						a{
							.imgbox{
								opacity:0.8;
							}
							.medName{
								color: red;
								text-decoration:underline;
							}
						}
					}
					li:first-child{
						margin-left:3px;
					}
				}
			}
		}
		.y_floor:nth-child(2){border-top:2px solid #FFA27A;}
		.y_floor:nth-child(3){border-top:2px solid #FF6B6B;}
		.y_floor:nth-child(4){border-top:2px solid #F6C89E;}
		.y_floor:nth-child(5){border-top:2px solid #AEE177;}
		.y_floor:nth-child(6){border-top:2px solid #FFACD0;}
		.y_floor:nth-child(7){border-top:2px solid #CAC3F2;}
		.y_floor:nth-child(8){border-top:2px solid #FCB0C0;}
		.y_floor:nth-child(9){border-top:2px solid #CAC3F2;}
		.y_floor:nth-child(10){border-top:2px solid #16F0CF;}
	}
}

//########链接区域#####
.Y-links{
	.container{
		height:170px;
		margin-top:20px;
		background-color: #fff;
		border: 1px solid #E6E6E6;
		.link_title{
			height: 34px;
			border-bottom:1px solid #E6E6E6;
			background-color:#F8F8F8;
				li{
					float:left;
					width: 178px;
					height: 33px;
					cursor:pointer;
					border-right:1px solid #E6E6E6;
					text-align:center;
					line-height:33px;
					font-size:12px;
				}
				.title_active{
					background-color:#fff;
				}
			
		}
		.link_bt1{
			padding:15px 0 15px 8px;
			
		}

	}
}


strong{
	// margin-top:5px;
	line-height:36px;
}