@charset "UTF-8";
#Y_header { height: 30px; background: #f7f9f8; width: 100%; font-family: Arial, Verdana, "宋体"; }

#Y_header .site-left { line-height: 30px; }

#Y_header .site-left .fs { margin-right: 10px; }

#Y_header .site-left .er { color: #008842; position: relative; }

#Y_header .site-left .er s { background: url(../img/header-img.png) no-repeat 0 0; width: 8px; height: 4px; position: absolute; right: -15px; top: 13px; }

#Y_header .site-right li { float: left; }

#Y_header .site-right li a { padding: 0 20px 0 10px; line-height: 30px; position: relative; }

#Y_header .site-right li a s { background: url(../img/header-img.png) no-repeat 0 0; width: 8px; height: 4px; position: absolute; right: -15px; top: 13px; }
