@charset "UTF-8";
#Yiguo { background: #f7f8f8; z-index: -1; }

#Y_header { height: 30px; background: #f7f9f8; width: 100%; font-family: Arial, Verdana, "宋体"; }

#Y_header .site-left { line-height: 30px; }

#Y_header .site-left .fs { margin-right: 10px; color: #444; }

#Y_header .site-left .er { color: #008842; position: relative; }

#Y_header .site-left .er s { background: url(../img/header-img.png) no-repeat 0 0; width: 8px; height: 4px; position: absolute; right: -15px; top: 13px; }

#Y_header .site-right li { float: left; }

#Y_header .site-right li a { color: #444; padding: 0 10px 0 30px; line-height: 30px; position: relative; }

#Y_header .site-right li a s { background: url(../img/header-img.png) no-repeat -39px 0; width: 20px; height: 18px; position: absolute; right: 80px; top: -2px; }

#Y_header .site-right li a .myback, #Y_header .site-right li a .phoneback { background: url(../img/header-img.png) no-repeat 8px 0; left: 75px; top: 5px; }

#Y_header .site-right li a .phone { background: url(../img/header-img.png) no-repeat -62px 0; }

#Y_header .site-right li a .phoneback { background: url(../img/header-img.png) no-repeat 8px 0; }

#Y_header .site-right li a .save { background: url(../img/header-img.png) no-repeat -147px 0; left: 7px; top: -2px; }

#Y_header .site-right li a .gift { background: url(../img/header-img.png) no-repeat -86px 0; left: 8px; top: -2px; }

#Y_header .site-right li .log { padding-left: 10px; }

#Y_header .site-right li .myr { padding-right: 30px; }

#Y_header .logo { height: 78px; background: #e0e0e0; }

#Y_header .logo h1 { background: url(../img/logo.png) no-repeat; width: 290px; height: 50px; margin: 14px 50px 0 0; }

#Y_header .logo .form { width: 528px; height: 28px; margin-top: 15px; }

#Y_header .logo .form input { width: 417px; height: 26px; padding: 0 10px; background: none; border: 1px solid #008842; color: #999999; }

#Y_header .logo .form button { background: #008842; height: 28px; font-size: 12px; width: 81px; color: #fff; vertical-align: middle; }

#Y_header .logo .form p { color: #727272; margin-top: 8px; }

#Y_header .logo .form p i { color: #008842; margin: 0 15px; }

#Y_header .logo .carbtn { width: 170px; height: 42px; border: 1px solid #008842; background: #fff; margin-top: 18px; }

#Y_header .logo .carbtn a { margin-top: 10px; width: 80px; height: 28px; display: block; padding: 0 45px; }

#Y_header .logo .carbtn a .two { font-size: 24px; padding-left: 8px; color: #008842; }

#Y_header .logo .carbtn a span { background: url(../img/header-img.png) no-repeat -105px 0; width: 35px; height: 18px; display: inline-block; position: relative; }

#Y_header .logo .carbtn a span b { position: absolute; left: 15px; color: #008842; }

#Y_nav { margin-top: 78px; }

#Y_nav .nav-all .nav-top { position: absolute; z-index: 999; width: 180px; height: 38px; background: #008842; color: #fff; font: bold 15px/16px "Microsoft YaHei"; position: relative; line-height: 38px; text-align: center; }

#Y_nav .nav-all .nav-top i { background: url(../img/header-img.png) no-repeat -25px 0; width: 8px; height: 8px; right: 25px; top: 15px; position: absolute; }

#Y_nav .nav-all ul { position: absolute; z-index: 999; width: 180px; height: 505px; background: #fff; opacity: 0.8; }

#Y_nav .nav-all ul li { position: relative; }

#Y_nav .nav-all ul li a { overflow: hidden; display: block; width: 165px; height: 24px; padding: 9px 0 9px 55px; font: normal 14px/24px "Microsoft YaHei"; position: relative; color: #444; }

#Y_nav .nav-all ul li a i { background: url(../img/nav-icon.png) no-repeat -2px 0; width: 22px; height: 23px; left: 20px; top: 9px; position: absolute; }

#Y_nav .nav-all ul li a .nav11 { background: url(../img/nav-icon.png) no-repeat -26px 0; }

#Y_nav .nav-all ul li a .nav2 { background: url(../img/nav-icon.png) no-repeat -50px 0; }

#Y_nav .nav-all ul li a .nav3 { background: url(../img/nav-icon.png) no-repeat -74px 0; }

#Y_nav .nav-all ul li a .nav4 { background: url(../img/nav-icon.png) no-repeat -98px 0; }

#Y_nav .nav-all ul li a .nav5 { background: url(../img/nav-icon.png) no-repeat -122px 0; }

#Y_nav .nav-all ul li a .nav6 { background: url(../img/nav-icon.png) no-repeat -150px 0; }

#Y_nav .nav-all ul li a .nav7 { background: url(../img/nav-icon.png) no-repeat -170px 0; }

#Y_nav .nav-all ul li a .nav8 { background: url(../img/nav-icon.png) no-repeat -192px 0; }

#Y_nav .nav-all ul li a .nav9 { background: url(../img/nav-icon.png) no-repeat -217px 0; }

#Y_nav .nav-all ul li a .nav10 { background: url(../img/nav-icon.png) no-repeat -239px 0; }

#Y_nav .nav-all ul li .all { z-index: 999; display: none; position: absolute; top: -38px; left: 180px; width: 215px; height: 515px; padding: 17px 20px; border: 1px solid #bbb; background: rgba(255, 255, 255, 0.9); }

#Y_nav .nav-all ul li .all h3 .first { color: #008842; text-decoration: underline; font: normal 18px "Microsoft YaHei"; padding: 0; width: 90px; }

#Y_nav .nav-all ul li .all a { padding: 0; font-size: 12px; padding: 10px; padding-left: 0; display: inline-block; width: 55px; }

#Y_nav .nav-all ul li .two { top: -80px; }

#Y_nav .nav-all ul li .three { top: -122px; }

#Y_nav .nav-all ul li .four { top: -164px; }

#Y_nav .nav-all ul li .five { top: -206px; }

#Y_nav .nav-all ul li .six { top: -248px; }

#Y_nav .nav-all ul li .seven { top: -290px; }

#Y_nav .nav-all ul li .eight { top: -332px; }

#Y_nav .nav-all ul li .night { top: -375px; }

#Y_nav .nav-all ul li .ten { top: -416px; }

#Y_nav .nav-all ul li .eleven { top: -459px; }

#Y_nav .nav-all ul li .twelve { top: -501px; }

#Y_footer { height: 535px; margin-top: 50px; }

#Y_footer .footer_service { background: #e0e0e0; height: 42px; padding: 30px 0; }

#Y_footer .footer_service li { background: url(../img/footer_service_icon.png) no-repeat 0 0; float: left; width: 190px; height: 42px; margin-left: 55px; padding-left: 55px; }

#Y_footer .footer_service li b { display: block; padding-left: 15px; color: #007f4d; font: normal 18px/25px "Microsoft YaHei"; border-left: 1px solid #a6a6a6; }

#Y_footer .footer_service li span { display: block; padding-left: 15px; border-left: 1px solid #a6a6a6; }

#Y_footer .footer_service .s2 { background: url(../img/footer_service_icon.png) no-repeat 0 -43px; }

#Y_footer .footer_service .s3 { background: url(../img/footer_service_icon.png) no-repeat 0 -83px; }

#Y_footer .footer_service .s4 { background: url(../img/footer_service_icon.png) no-repeat 0 -126px; }

#Y_footer .didi { height: 341px; margin-top: 50px; }

#Y_footer .didi dl { float: left; display: inline; margin-left: 50px; width: 190px; color: #ccc; }

#Y_footer .didi dl dt { text-indent: 40px; height: 23px; line-height: 23px; font-size: 14px; color: #555; background: url(../img/footer_icon.png) no-repeat 0 0; }

#Y_footer .didi dl .col2 { background: url(../img/footer_icon.png) no-repeat 0 -23px; }

#Y_footer .didi dl .col3 { background: url(../img/footer_icon.png) no-repeat 0 -45px; }

#Y_footer .didi dl .col4 { background: url(../img/footer_icon.png) no-repeat 0 -69px; }

#Y_footer .didi dl .col5 { background: url(../img/footer_icon.png) no-repeat 0 -92px; }

#Y_footer .didi dl dd { border-left: 1px dashed #A8A8A8; padding-left: 20px; height: 110px; min-height: 110px; margin: 15px 0 0 13px; }

#Y_footer .didi dl dd p a { color: #555; }

#Y_footer .service { clear: both; text-align: center; padding: 60px 0 20px; color: #008842; font-size: 14px; }

#Y_footer .copyright { clear: both; color: #717171; text-align: center; line-height: 22px; }

#Y_aside { width: 56px; height: 104px; bottom: 35px; right: 50%; margin-right: -670px; position: fixed; }

#Y_aside a { display: block; width: 52px; height: 52px; background: url(../img/sidebar.png) no-repeat 0 -43px; }

#Y_aside .phone:hover { background-position: -56px -46px; }

#Y_aside .totop { background: url(../img/sidebar.png) no-repeat 0 7px; }

#Y_aside .totop:hover { background-position: -56px 7px; }

#Y_banner { position: relative; width: 100%; height: 543px; z-index: 88; }

#Y_banner div { position: absolute; width: 100%; height: 500px; background: url(../img/b1.jpg) no-repeat; z-index: 1; }

#Y_main .prefecture { width: 1212px; height: 290px; }

#Y_main .prefecture li { float: left; }

#Y_main .prefecture li a { margin: 0 13px 0 0; position: relative; }

#Y_main .prefecture li a div { position: absolute; width: 270px; height: 57px; background: #fff; opacity: 0.9; margin: 10px; top: 212px; }

#Y_main .prefecture li a div h2 { display: block; margin-top: 4px; margin-bottom: 2px; font: bold 22px "Microsoft YaHei"; color: #575757; text-align: center; }

#Y_main .prefecture li a div p { color: #444; text-align: center; }

#Y_main .prefecture li .pre1 { width: 290px; height: 290px; display: block; background: url(../img/t1.jpg); }

#Y_main .prefecture li .pre2 { width: 290px; height: 290px; display: block; background: url(../img/t2.jpg); }

#Y_main .prefecture li .pre3 { width: 290px; height: 290px; display: block; background: url(../img/t3.jpg); }

#Y_main .prefecture li .pre4 { width: 290px; height: 290px; display: block; background: url(../img/t4.jpg); }

#Y_main .floor1 { height: 500px; margin-top: 30px; }

#Y_main .floor1 .f-top { height: 32px; margin-bottom: 6px; }

#Y_main .floor1 .f-top .f-left { width: 127px; height: 32px; }

#Y_main .floor1 .f-top .f-left a { color: #fc5f3c; font: bold 18px "Microsoft YaHei"; vertical-align: bottom; }

#Y_main .floor1 .f-top .f-left a i { font: bold 14px "Microsoft YaHei"; color: #fff; background: url(../img/floor-icon.png) no-repeat 0 0; width: 31px; height: 18px; padding: 10px 7px 4px 7px; margin-right: 4px; }

#Y_main .floor1 .f-top .f-right { height: 32px; }

#Y_main .floor1 .f-top .f-right a { font-size: 12px; line-height: 32px; }

#Y_main .floor1 .f-top .f-right a span { height: 12px; display: inline-block; border-right: 1px solid #444; color: #444; line-height: 12px; padding: 0 7px; }

#Y_main .floor1 .f-top .f-right a .last { border-right: none; padding: 0 0 0 7px; }

#Y_main .floor1 .f-bottom .f1-left { width: 275px; height: 462px; background: url(../img/f1.jpg); }

#Y_main .floor1 .f-bottom .f1-right { width: 924px; height: 462px; border-top: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; }

#Y_main .floor1 .f-bottom .f1-right li { float: left; width: 230px; height: 230px; border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; background: url(../img/f11.jpg); }

#Y_main .floor1 .f-bottom .f1-right .big { width: 461px; }

#Y_main .floor1 .f-bottom .f1-right .f1-two { background: url(../img/f12.jpg); }

#Y_main .floor1 .f-bottom .f1-right .f1-three { background: url(../img/f13.jpg); }

#Y_main .floor1 .f-bottom .f1-right .f1-four { background: url(../img/f14.jpg); }

#Y_main .floor1 .f-bottom .f1-right .f1-five { background: url(../img/f15.jpg); }

#Y_main .floor1 .f-bottom .f1-right .f1-six { background: url(../img/f16.jpg); }

#Y_main .floor2 { height: 500px; margin-top: 30px; }

#Y_main .floor2 .f-top { height: 32px; margin-bottom: 6px; }

#Y_main .floor2 .f-top .f-left { width: 127px; height: 32px; }

#Y_main .floor2 .f-top .f-left a { color: #008842; font: bold 18px "Microsoft YaHei"; vertical-align: bottom; }

#Y_main .floor2 .f-top .f-left a i { font: bold 14px "Microsoft YaHei"; color: #fff; background: url(../img/floor-icon.png) no-repeat -46px 0; width: 31px; height: 18px; padding: 10px 7px 4px 7px; margin-right: 4px; }

#Y_main .floor2 .f-top .f-right { height: 32px; }

#Y_main .floor2 .f-top .f-right a { font-size: 12px; line-height: 32px; }

#Y_main .floor2 .f-top .f-right a span { height: 12px; display: inline-block; border-right: 1px solid #444; color: #444; line-height: 12px; padding: 0 7px; }

#Y_main .floor2 .f-top .f-right a .last { border-right: none; padding: 0 0 0 7px; }

#Y_main .floor2 .f-bottom .f1-left { width: 275px; height: 462px; background: url(../img/f2.jpg); }

#Y_main .floor2 .f-bottom .f1-right { width: 924px; height: 462px; border-top: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; }

#Y_main .floor2 .f-bottom .f1-right li { float: left; width: 230px; height: 230px; border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; background: url(../img/f11.jpg); }

#Y_main .floor2 .f-bottom .f1-right .big { width: 461px; }

#Y_main .floor2 .f-bottom .f1-right .f1-two { background: url(../img/f22.jpg); }

#Y_main .floor2 .f-bottom .f1-right .f1-three { background: url(../img/f23.jpg); }

#Y_main .floor2 .f-bottom .f1-right .f1-four { background: url(../img/f24.jpg); }

#Y_main .floor2 .f-bottom .f1-right .f1-five { background: url(../img/f25.jpg); }

#Y_main .floor2 .f-bottom .f1-right .f1-six { background: url(../img/f26.jpg); }

#Y_main .floor3 { height: 500px; margin-top: 30px; }

#Y_main .floor3 .f-top { height: 32px; margin-bottom: 6px; }

#Y_main .floor3 .f-top .f-left { width: 127px; height: 32px; }

#Y_main .floor3 .f-top .f-left a { color: #45c6ce; font: bold 18px "Microsoft YaHei"; vertical-align: bottom; }

#Y_main .floor3 .f-top .f-left a i { font: bold 14px "Microsoft YaHei"; color: #fff; background: url(../img/floor-icon.png) no-repeat -184px 0; width: 31px; height: 18px; padding: 10px 7px 4px 7px; margin-right: 4px; }

#Y_main .floor3 .f-top .f-right { height: 32px; }

#Y_main .floor3 .f-top .f-right a { font-size: 12px; line-height: 32px; }

#Y_main .floor3 .f-top .f-right a span { height: 12px; display: inline-block; border-right: 1px solid #444; color: #444; line-height: 12px; padding: 0 7px; }

#Y_main .floor3 .f-top .f-right a .last { border-right: none; padding: 0 0 0 7px; }

#Y_main .floor3 .f-bottom .f1-left { width: 275px; height: 462px; background: url(../img/f3.jpg); }

#Y_main .floor3 .f-bottom .f1-right { width: 924px; height: 462px; border-top: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; }

#Y_main .floor3 .f-bottom .f1-right li { float: left; width: 230px; height: 230px; border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; background: url(../img/f31.jpg); }

#Y_main .floor3 .f-bottom .f1-right .big { width: 461px; }

#Y_main .floor3 .f-bottom .f1-right .f1-two { background: url(../img/f32.jpg); }

#Y_main .floor3 .f-bottom .f1-right .f1-three { background: url(../img/f33.jpg); }

#Y_main .floor3 .f-bottom .f1-right .f1-four { background: url(../img/f34.jpg); }

#Y_main .floor3 .f-bottom .f1-right .f1-five { background: url(../img/f35.jpg); }

#Y_main .floor3 .f-bottom .f1-right .f1-six { background: url(../img/f36.jpg); }

#Y_main .floor4 { height: 500px; margin-top: 30px; }

#Y_main .floor4 .f-top { height: 32px; margin-bottom: 6px; }

#Y_main .floor4 .f-top .f-left { width: 127px; height: 32px; }

#Y_main .floor4 .f-top .f-left a { color: #f0c000; font: bold 18px "Microsoft YaHei"; vertical-align: bottom; }

#Y_main .floor4 .f-top .f-left a i { font: bold 14px "Microsoft YaHei"; color: #fff; background: url(../img/floor-icon.png) no-repeat -92px 0; width: 31px; height: 18px; padding: 10px 7px 4px 7px; margin-right: 4px; }

#Y_main .floor4 .f-top .f-right { height: 32px; }

#Y_main .floor4 .f-top .f-right a { font-size: 12px; line-height: 32px; }

#Y_main .floor4 .f-top .f-right a span { height: 12px; display: inline-block; border-right: 1px solid #444; color: #444; line-height: 12px; padding: 0 7px; }

#Y_main .floor4 .f-top .f-right a .last { border-right: none; padding: 0 0 0 7px; }

#Y_main .floor4 .f-bottom .f1-left { width: 275px; height: 462px; background: url(../img/f4.jpg); }

#Y_main .floor4 .f-bottom .f1-right { position: relative; width: 924px; height: 462px; border-top: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; }

#Y_main .floor4 .f-bottom .f1-right .left { width: 234px; height: 383px; background: url(../img/f41.jpg); border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; }

#Y_main .floor4 .f-bottom .f1-right .center { width: 442px; height: 384px; }

#Y_main .floor4 .f-bottom .f1-right .center li { float: left; width: 220px; height: 191px; border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; background: url(../img/f42.jpg); }

#Y_main .floor4 .f-bottom .f1-right .center .f2 { background: url(../img/f43.jpg); }

#Y_main .floor4 .f-bottom .f1-right .center .f3 { background: url(../img/f45.jpg); }

#Y_main .floor4 .f-bottom .f1-right .center .f4 { background: url(../img/f46.jpg); }

#Y_main .floor4 .f-bottom .f1-right .bottom { position: absolute; width: 654px; height: 55px; bottom: 0; left: 0; padding: 11px; border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; background: #fff; }

#Y_main .floor4 .f-bottom .f1-right .bottom a { margin: 0 10px; }

#Y_main .floor4 .f-bottom .f1-right .right { width: 246px; height: 461px; background: url(../img/f44.jpg); border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; }

#Y_main .floor5 { height: 500px; margin-top: 30px; }

#Y_main .floor5 .f-top { height: 32px; margin-bottom: 6px; }

#Y_main .floor5 .f-top .f-left { width: 127px; height: 32px; }

#Y_main .floor5 .f-top .f-left a { color: #e08683; font: bold 18px "Microsoft YaHei"; vertical-align: bottom; }

#Y_main .floor5 .f-top .f-left a i { font: bold 14px "Microsoft YaHei"; color: #fff; background: url(../img/floor-icon.png) no-repeat -138px 0; width: 31px; height: 18px; padding: 10px 7px 4px 7px; margin-right: 4px; }

#Y_main .floor5 .f-top .f-right { height: 32px; }

#Y_main .floor5 .f-top .f-right a { font-size: 12px; line-height: 32px; }

#Y_main .floor5 .f-top .f-right a span { height: 12px; display: inline-block; border-right: 1px solid #444; color: #444; line-height: 12px; padding: 0 7px; }

#Y_main .floor5 .f-top .f-right a .last { border-right: none; padding: 0 0 0 7px; }

#Y_main .floor5 .f-bottom .f1-left { width: 275px; height: 462px; background: url(../img/f5.jpg); }

#Y_main .floor5 .f-bottom .f1-right { position: relative; width: 924px; height: 462px; border-top: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; }

#Y_main .floor5 .f-bottom .f1-right .left { width: 234px; height: 383px; background: url(../img/f51.jpg); border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; }

#Y_main .floor5 .f-bottom .f1-right .center { width: 442px; height: 384px; }

#Y_main .floor5 .f-bottom .f1-right .center li { float: left; width: 220px; height: 191px; border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; background: url(../img/f52.jpg); }

#Y_main .floor5 .f-bottom .f1-right .center .f2 { background: url(../img/f53.jpg); }

#Y_main .floor5 .f-bottom .f1-right .center .f3 { background: url(../img/f55.jpg); }

#Y_main .floor5 .f-bottom .f1-right .center .f4 { background: url(../img/f56.jpg); }

#Y_main .floor5 .f-bottom .f1-right .bottom { position: absolute; width: 654px; height: 55px; bottom: 0; left: 0; padding: 11px; border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; background: #fff; }

#Y_main .floor5 .f-bottom .f1-right .bottom a { margin: 0 10px; }

#Y_main .floor5 .f-bottom .f1-right .right { width: 246px; height: 461px; background: url(../img/f54.jpg); border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; }

#Y_main .floor6 { height: 500px; margin-top: 30px; }

#Y_main .floor6 .f-top { height: 32px; margin-bottom: 6px; }

#Y_main .floor6 .f-top .f-left { width: 127px; height: 32px; }

#Y_main .floor6 .f-top .f-left a { color: #3ca3dc; font: bold 18px "Microsoft YaHei"; vertical-align: bottom; }

#Y_main .floor6 .f-top .f-left a i { font: bold 14px "Microsoft YaHei"; color: #fff; background: url(../img/floor-icon.png) no-repeat -531px 0; width: 31px; height: 18px; padding: 10px 7px 4px 7px; margin-right: 4px; }

#Y_main .floor6 .f-top .f-right { height: 32px; }

#Y_main .floor6 .f-top .f-right a { font-size: 12px; line-height: 32px; }

#Y_main .floor6 .f-top .f-right a span { height: 12px; display: inline-block; border-right: 1px solid #444; color: #444; line-height: 12px; padding: 0 7px; }

#Y_main .floor6 .f-top .f-right a .last { border-right: none; padding: 0 0 0 7px; }

#Y_main .floor6 .f-bottom .f1-left { width: 275px; height: 462px; background: url(../img/f6.jpg); }

#Y_main .floor6 .f-bottom .f1-right { position: relative; width: 924px; height: 462px; border-top: 1px solid #d5d5d5; border-left: 1px solid #d5d5d5; }

#Y_main .floor6 .f-bottom .f1-right .left { width: 234px; height: 383px; background: url(../img/f61.jpg); border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; }

#Y_main .floor6 .f-bottom .f1-right .center { width: 442px; height: 384px; }

#Y_main .floor6 .f-bottom .f1-right .center li { float: left; width: 220px; height: 191px; border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; background: url(../img/f62.jpg); }

#Y_main .floor6 .f-bottom .f1-right .center .f2 { background: url(../img/f63.jpg); }

#Y_main .floor6 .f-bottom .f1-right .center .f3 { background: url(../img/f65.jpg); }

#Y_main .floor6 .f-bottom .f1-right .center .f4 { background: url(../img/f66.jpg); }

#Y_main .floor6 .f-bottom .f1-right .bottom { position: absolute; width: 654px; height: 55px; bottom: 0; left: 0; padding: 11px; border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; background: #fff; }

#Y_main .floor6 .f-bottom .f1-right .bottom a { margin: 0 10px; }

#Y_main .floor6 .f-bottom .f1-right .right { width: 246px; height: 461px; background: url(../img/f64.jpg); border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; }

#Y_side { position: fixed; width: 40px; height: 220px; top: 200px; left: 50%; margin-left: -650px; }

#Y_side .left { width: 40px; height: 220px; }

#Y_side .left li { width: 40px; height: 40px; }

#Y_side .left li a { position: relative; }

#Y_side .left li a b { position: absolute; display: block; width: 40px; height: 40px; }

#Y_side .left li a i { position: absolute; display: block; width: 10px; border-bottom: 1px solid #ccc; margin: auto; top: 40px; left: 15px; }

#Y_side .left li a span { display: none; width: 30px; height: 30px; background: #008842; padding: 5px; text-align: center; font-weight: bold; color: #fff; }

#Y_side .left li a:hover b { display: none; }

#Y_side .left li a:hover span { display: block; }
